
.page.theme_light {
  --main-text-color: #353430;
  --heading-color: #353430;
  --background-color: #fff1f7;
  --accent-heading-color: #353430;
  --decorative-elements: #353430;
  --accent-color: #ff8dcb;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
}
.page.theme_light .header__decorated-element {
  display: none;
}
.page.theme_light .decorated-heading {
  color: #ffc2e6;
}
@media (width >= 768px) {
  .page.theme_light {
    background-image: url(../images/cover-image-light.png);
  }
}
